In [3]:
# First we'll import the os module

import pandas as pd
from pathlib import Path

In [4]:
#Method 

file = Path("/Users/Masih/Desktop/challenge /Pybank /Resources/budget_data.csv")
file = pd.read_csv(file, encoding="ISO-8859-1")
file.head()

     Date  Profit/Losses
0  Jan-10        1088983
1  Feb-10        -354534
2  Mar-10         276622
3  Apr-10        -728133
4  May-10         852993

In [5]:
# The total number of months included in the dataset
total_months = len(file)
total_months

86

In [6]:
# The net total amount of "Profit/Losses" over the entire period. 

net = file['Profit/Losses'].sum()
net

22564198

In [7]:
# The changes in "Profit/Losses" over the entire period, and then the average of those changes.

changes = (file['Profit/Losses'].diff()).mean()
changes

-8311.105882352942

In [8]:
file['Profit/Loss Change'] = file['Profit/Losses'].diff()

In [9]:
# The greatest increase in profits (date and amount) over the entire period. 
greatest_increase = file.loc[file["Profit/Loss Change"].idxmax()]
greatest_increase

Date                     Aug-16
Profit/Losses            951227
Profit/Loss Change    1862002.0
Name: 79, dtype: object

In [10]:
# The greatest decrease in profits (date and amount) over the entire period

greatest_decrease = file.loc[file['Profit/Loss Change'].idxmin()]

greatest_decrease

Date                     Feb-14
Profit/Losses           -946748
Profit/Loss Change   -1825558.0
Name: 49, dtype: object

In [11]:
# Convert 'Date' column to datetime format
file['Date'] = pd.to_datetime(file['Date'], format='%b-%y')

# Continue with the rest of your code
print(f'Total Months: {total_months}')
print(f'Net Total: ${net}')
print(f'Average Change: ${changes:.2f}')
print(f'Greatest Increase in Profits: {greatest_increase}')
print(f'Greatest Decrease in Profits: {greatest_decrease}')

Total Months: 86
Net Total: $22564198
Average Change: $-8311.11
Greatest Increase in Profits: Date                     Aug-16
Profit/Losses            951227
Profit/Loss Change    1862002.0
Name: 79, dtype: object
Greatest Decrease in Profits: Date                     Feb-14
Profit/Losses           -946748
Profit/Loss Change   -1825558.0
Name: 49, dtype: object